.hero {
  width: 100%;
  height: 500vh;
  position: relative;

  &__text {
    color: $color-black;
    position: absolute;
    top: 11.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;

    h1 {
      font-size: 5rem;
      text-align: center;
      line-height: 1.2;
      text-transform: uppercase;
      position: relative;
    }
  }

  &__sticky {
    z-index: 20;
    transition: 1s ease-out;
    position: absolute;
    left: 0;
    right: 0;
    height: 6.5rem;
    background-color: #ffffffc0;
    width: 100%;
    padding: 0 3rem;
    @include flex(space-between);

    &-product {
      width: 100%;
      @include flex(space-between);
      font-size: 1.8rem;
      span {
        font-weight: 700;
      }

      ul {
        @include flex(space-between);
        width: fit-content;
        > :nth-child(-n + 1) {
          margin-right: 2.5rem;
        }
      }
    }
  }
  canvas {
    @include canvas;
  }
}

.bold {
  font-size: 2.5rem;
}

.fixed {
  position: sticky;
  top: 0;
}

.overview {
  font-weight: 700;
}

.big {
  color: rgb(218, 206, 206);
}
